<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.world.dao.CompanyMapper">
    <resultMap id="BaseResultMap" type="com.hello.world.entity.Company">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="short_name" jdbcType="VARCHAR" property="shortName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="link_name" jdbcType="VARCHAR" property="linkName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="city_id" jdbcType="INTEGER" property="cityId"/>
        <result column="status" javaType="com.hello.world.enums.CompanyStatusEnum" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
    </resultMap>

    <resultMap id="companyDtoMap" type="com.hello.world.dto.result.CompanyDto" extends="BaseResultMap"/>

    <resultMap id="cityDtoAssocitionMap" type="com.hello.world.dto.result.CityDto">
        <id column="city_city_id" property="id"/>
        <result column="city_name" property="name"/>
        <result column="city_created_at" property="createdAt"/>
        <result column="city_updated_at" property="updatedAt"/>
    </resultMap>
    
    <resultMap id="companyAndCity" type="com.hello.world.dto.result.CompanyDto" extends="companyDtoMap">
        <association property="city" resultMap="cityDtoAssocitionMap"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, short_name, address, link_name, phone, city_id, status, created_at, updated_at
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from company
        where id = #{id,jdbcType=INTEGER}
      </delete>
    <insert id="insert" parameterType="com.hello.world.entity.Company">
        insert into company (id, name, short_name,
          address, link_name, phone,
          city_id, status, created_at,
          updated_at)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR},
          #{address,jdbcType=VARCHAR}, #{linkName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
          #{cityId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP},
          #{updatedAt,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.hello.world.entity.Company">
        insert into company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="shortName != null">
                short_name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="linkName != null">
                link_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="cityId != null">
                city_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hello.world.entity.Company">
        update company
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                city_id = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="update" parameterType="com.hello.world.entity.Company">
        update company
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="shortName != null">
                short_name = #{shortName,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
             <if test="phone != null">
                 phone = #{phone,jdbcType=VARCHAR},
             </if>
             <if test="cityId != null">
                 city_id = #{cityId,jdbcType=INTEGER},
             </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
      </update>
    
    <select id="searchWithName" parameterType="java.lang.String" resultMap="companyDtoMap">
        select 
        <include refid="Base_Column_List"/>
        from company
        where name like concat(#{name}, '%')
    </select>
    <select id="searchWithCityId" parameterType="java.lang.Long" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        where city_id = #{cityId}
    </select>
    <select id="searchCondition" parameterType="com.hello.world.dto.condition.SearchCompanyDto" resultMap="companyDtoMap">
        select
        <include refid="Base_Column_List"/>
        from company
        <where>
            <if test="name != null and name !=''">
                name like concat(#{name}, '%')
            </if>
            <if test="cityId != null and cityId !=''">
                and city_id = #{cityId}
            </if>
        </where>
    </select>
    <insert id="createCompany" parameterType="com.hello.world.dto.create.CreateCompanyDto" useGeneratedKeys="true" keyProperty="id">
        insert into company (name, short_name, address, link_name, phone, city_id)
        values (#{name}, #{shortName}, #{address}, #{linkName}, #{phone}, #{cityId})
    </insert>

    <select id="searchCompanyAndCity" parameterType="com.hello.world.dto.condition.SearchCompanyDto" resultMap="companyAndCity">
        select company.id, company.name, company.short_name, company.address, company.link_name, company.phone, company.city_id,
        company.status, company.created_at, company.updated_at,
        city.id as city_city_id, city.name as city_name, city.created_at as city_created_at, city.updated_at as city_updated_at
        from company
        left join city
        on company.city_id = city.id
        <where>
            <if test="name != null and name !=''">
                company.name like concat(#{name}, '%')
            </if>
            <if test="cityId != null and cityId !=''">
                and company.city_id = #{cityId}
            </if>
        </where>
    </select>

    <select id="searchCompanyAndCityWithId" resultMap="companyAndCity">
        select company.id, company.name, company.short_name, company.address, company.link_name, company.phone, company.city_id,
        company.status, company.created_at, company.updated_at,
        city.id as city_city_id, city.name as city_name, city.created_at as city_created_at, city.updated_at as city_updated_at
        from company
        left join city
        on company.city_id = city.id
        <where>
            <if test="id != null and id !=''">
                company.id = #{id}
            </if>
        </where>
    </select>
</mapper>